@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <video id="videoobj2" controls type="video/mp4"  src="https://blobteststaw95f8.blob.core.windows.net/filmy/stawy_latest.mp4?st=2018-04-26T08%3A01%3A01Z&se=2018-05-27T08%3A01%3A00Z&sp=r&sv=2017-04-17&sr=b&sig=dOkxD4csQzu5QEBWLsyR%2FHLUlTVAhrMf4Y0W257peBQ%3D" />

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
